---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Album from '../components/Album.astro';
import Bio from '../components/Bio.astro';
import LatestSingle from '../components/LatestSingle.astro';
import Marquee from '../components/Marquee.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Album />
    <Bio />
    <LatestSingle />
    <Marquee />
    <Contact />
  </main>
  <Footer />
</Layout>
